*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1500px;
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6AB66B;
  z-index: 2;
}

.header_menu {
  display: flex;
  flex-direction: row;
}

.xrow {
  display: flex;
  flex-direction: row;
}

.lang {
  font-size: 20px;
  background-color: #6AB66B;
  color: white;
  outline: none;
  margin-top: 40px;
}

label {
  z-index: 3;
  position: relative;
}

label:hover {
  color: white;
  opacity: 30%;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: 40px;
}
.header_list li {
  list-style: none;
  margin: 0 40px;
}
.header_list a:hover {
  color: white;
  opacity: 30%;
}
.header_list img {
  margin-top: 5px;
}

.header_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin-top: 30px;
}
.logo img {
  max-width: 100%;
  display: block;
}

.header_burger {
  display: none;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.company .company_info {
  font-size: 22px;
  margin-left: 40px;
  width: 590px;
  text-align: left;
}
.company img {
  max-width: 100%;
  display: block;
}

.section_inner {
  min-width: 400px;
  text-align: center;
}

.grey {
  background: rgb(238, 237, 237);
  padding: 100px 0px;
}

.green {
  background: #E7EFE7;
  padding-top: 100px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 100px;
}

.advantage_item {
  margin: 15px 60px;
  width: 440px;
  background: #FAFAFA;
  box-shadow: 0px 0px 20px rgba(27, 148, 72, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px 12px;
}
.advantage_item p {
  margin: 5px 20px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.show_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
}

.btn_2 {
  border: 1px solid #1B9448;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  color: #1B9448;
}

.btn_2:active {
  background-color: gold;
}

.news_items {
  margin: 50px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news_items .news_item {
  background-color: white;
  margin: 10px;
}
.news_items .news_item .description {
  padding: 20px 50px 0px 50px;
  text-align: left;
  font-size: 20px;
  width: 370px;
}
.news_items .news_item .description p {
  font-weight: 700;
}
.news_items .news_item .description div {
  color: #9B9B9B;
}
.news_items .news_item img {
  max-width: 100%;
  display: block;
}
.news_items .main_item {
  display: inline-flex;
}
.news_items .main_item .description {
  width: 100%;
}
.news_items .main_item img {
  max-width: 100%;
  display: block;
}

.first_font {
  font-weight: 700;
  font-size: 25px;
}

.second_font {
  font-weight: 400;
  font-size: 17px;
}

.footer {
  background-color: #6AB66B;
}
.footer .footer_inner {
  padding: 50px 20px 30px 0px;
  display: flex;
  flex-direction: row;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.footer_block1 {
  width: 60%;
}
.footer_block1 a:hover {
  color: white;
  opacity: 30%;
}

.footer_block2 {
  width: 40%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer_block2 a:hover {
  color: white;
  opacity: 30%;
}

.footer_text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.footer_link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 30px;
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.wrapper {
  background-color: #9fd8ca;
  padding: 90px 0;
}

.swiper {
  display: flex;
  justify-content: center;
}
.swiper img {
  display: block;
  width: 100%;
}

@media (max-width: 1280px) {
  .header_list li {
    list-style: none;
    margin: 0 20px;
  }
  .footer_inner {
    flex-direction: column;
  }
  .footer_block1 {
    width: 100%;
  }
  .footer_block2 {
    width: 100%;
    justify-content: flex-start;
  }
  .container {
    max-width: 1240px !important;
  }
}
@media (min-width: 769px) {
  .for-small-screens {
    display: none;
  }
}
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 750px !important;
  }
  .wrapper {
    padding-bottom: 20px;
  }
  .for-large-screens {
    display: none;
  }
  .selected_text {
    color: #1B9448;
    font-weight: bold;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .header .header_inner {
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }
  .header .logo {
    flex: 0 0 50px;
    align-items: center;
    margin-top: 10px;
    position: relative;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
.header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18b5a4;
    padding-top: 70px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header_menu.active {
    top: 0;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .lang {
    margin-top: 0;
  }
  .company {
    flex-direction: column;
    align-items: center;
  }
  .company .company_info {
    font-size: 20px;
    width: 520px;
    padding-top: 50px;
    margin-left: 0;
  }
  .advantages {
    margin-top: 40px;
  }
  .advantage_item {
    margin: 15px 20px;
    width: 320px;
  }
  .news_items .news_item .description {
    padding: 20px 15px;
    font-size: 15px;
    width: 190px;
  }
  .news_items .news_item img {
    width: 210px;
    height: 180px;
  }
  .news_items .main_item .description {
    width: 100%;
  }
  .news_items .main_item img {
    width: 280px;
    height: 240px;
  }
  .first_font {
    font-size: 17px;
  }
  .second_font {
    font-size: 15px;
  }
  .footer .footer_inner {
    padding: 40px 10px 50px 0;
  }
  .footer_block1 {
    width: 60%;
  }
  .footer_block1 p {
    padding-left: 20px;
    width: 350px;
  }
  .footer_block2 {
    width: 40%;
    justify-content: center;
  }
  .footer_text {
    font-size: 17px;
    padding: 0 20px;
  }
  .footer_link {
    font-size: 15px;
    margin-top: 30px;
  }
  .social {
    display: flex;
    flex-direction: row;
  }
  .social .footer_text {
    padding: 0 10px;
  }
  .social span {
    padding-left: 15px;
  }
  .circles {
    display: flex;
    flex-direction: row;
  }
  .circles img {
    padding: 0 5px;
  }
  .underline {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
}
@media (min-width: 401px) {
  .for-phone {
    display: none;
  }
}
@media (max-width: 400px) {
  .header_inner {
    width: 400px;
  }
  .header:before {
    width: 400px;
  }
  .header_menu {
    width: 400px;
  }
  .lang {
    margin-right: 20px;
  }
  .green {
    background: rgba(106, 182, 107, 0.5);
  }
  .green h2 {
    color: #fff;
    width: 360px;
  }
  .advantage_item {
    width: 360px;
    margin: 15px 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  .advantages {
    padding-left: 0px;
    justify-content: flex-start;
  }
  .company {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .company .company_info {
    width: 380px;
  }
  .news_items {
    flex-direction: column;
  }
  .news_items .news_item .description {
    font-size: 17px;
    width: 310px;
  }
  .news_items .news_item img {
    width: 340px;
    height: 260px;
  }
  .news_items .main_item {
    flex-direction: column;
  }
  .news_items .main_item .description {
    width: 310px;
  }
  .news_items .main_item img {
    width: 340px;
    height: 260px;
  }
  .grey {
    padding: 50px 0;
  }
  .btn_2 {
    margin-top: 30px;
  }
  .not-phone {
    display: none;
  }
  .footer .footer_inner {
    padding: 40px 0;
    flex-direction: column;
  }
  .footer_block1 {
    width: 100%;
  }
  .footer_block1 p {
    padding-left: 20px;
    width: 350px;
  }
  .footer_block1 .footer_nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .footer_block2 {
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer_text {
    font-size: 17px;
    padding: 10px 20px;
  }
  .footer_link {
    display: none;
  }
  .second_font {
    font-size: 14px;
  }
  .social {
    flex-direction: column;
    align-items: center;
  }
  .social img {
    padding: 0 15px;
  }
  .social .invis {
    display: none;
  }
  .social .footer_text {
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .social span {
    padding-left: 0;
  }
}/*# sourceMappingURL=style.css.map */